services:

  ctr-zbx:
    image: zabbix/zabbix-server-mysql:ubuntu-7.4-latest
    container_name: ${ZBX_CONTAINER_NAME}
    restart: unless-stopped
    environment:
      DB_SERVER_HOST: ${MYSQL_HOST}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      ZBX_JAVAGATEWAY_ENABLE: "false"
    volumes:
      - ${VOL_ZBX_SERVER}
      - ${VOL_TIMEZONE}
      - ${VOL_LOCALTIME}
    networks:
      network-share:
        ipv4_address: ${ZBX_IPV4}

  ctr-zbx-front:
    image: zabbix/zabbix-web-nginx-mysql:ubuntu-7.4-latest
    container_name: ${ZBX_FRONT_CONTAINER_NAME}
    restart: unless-stopped
    environment:
      DB_SERVER_HOST: ${MYSQL_HOST}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      ZBX_SERVER_HOST: ${ZBX_CONTAINER_NAME}
      PHP_TZ: "America/Sao_Paulo"
    volumes:
      - ${VOL_ZBX_FRONT}
      - ${VOL_TIMEZONE}
      - ${VOL_LOCALTIME}
    ports:
      - "${ZBX_FRONT_PORT}:8080"
    networks:
      network-share:
        ipv4_address: ${ZBX_FRONT_IPV4}

  ctr-zbx-agent:
    image: zabbix/zabbix-agent2:ubuntu-7.4-latest
    container_name: ${ZBX_AGENT_CONTAINER_NAME}
    restart: unless-stopped
    environment:
      ZBX_SERVER_HOST: ${ZBX_CONTAINER_NAME}
      ZBX_ACTIVE_ALLOW: "true"
    networks:
      network-share:
        ipv4_address: ${ZBX_AGENT_IPV4}

networks:
  network-share:
    external: true
    ipam:
      config:
        - subnet: ${SUBNET}
