# Ignore os arquivos em qualquer pasta
**/.env
**/odbc.ini

# ctr-portainer (Ignorar pastas de configuração e dados)
/stack/ctr-portainer/data

# ctr-mysql (Ignorar pastas de configuração e dados)
/stack/ctr-mysql/databases

# ctr-grafana (Ignorar pastas de configuração e dados)
/stack/ctr-grafana/config
/stack/ctr-grafana/data



