services:
  ctr-cloudflare:
    image: cloudflare/cloudflared:latest
    container_name: ${CONTAINER_NAME}
    restart: unless-stopped
    command: tunnel run
    volumes:
      - /bskp-pro/stack/ctr-cloudflare/tunnel:/etc/cloudflared:rw
    networks:
      network-share:
        ipv4_address: ${IPV4_CLOUDFLARE}

networks:
  network-share:
    external: true
    ipam:
      config:
        - subnet: ${SUBNET}
