services:
  ctr-cloudflare:
    image: cloudflare/cloudflared:2024.10.0
    container_name: ${CONTAINER_NAME}
    restart: unless-stopped
    #command: tunnel run
    #command: ["tunnel", "--config", "/etc/cloudflared/config.yml", "run"]
    #command: tunnel run --config /etc/cloudflared/config.yml
    command:
    - tunnel
    - run
    - --config
    - /etc/cloudflared/config.yml
    volumes:
      - /bskp-pro/stack/ctr-cloudflare/tunnel:/etc/cloudflared:rw
    networks:
      network-share:
        ipv4_address: ${IPV4_CLOUDFLARE}

networks:
  network-share:
    external: true
    ipam:
      config:
        - subnet: ${SUBNET}
