services:
  ctr-cloudflare:
    image: cloudflare/cloudflared:latest
    container_name: ${CONTAINER_NAME}
    restart: unless-stopped
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=${TUNNEL_TOKEN}
    networks:
      network-share:
        ipv4_address: ${IPV4_CLOUDFLARE}

networks:
  network-share:
    external: true
    ipam:
      config:
        - subnet: ${SUBNET}
