# ─────────────────────────────────────────────
#      NGINX Proxy Manager - Arquivo .env
# ─────────────────────────────────────────────

# Nome do container
CONTAINER_NAME=ctr-nginx

# Imagem
IMAGE=jc21/nginx-proxy-manager:latest

# IP na rede Docker
IPV4_NGINX=172.18.0.60

# Banco de Dados
DB_MYSQL_HOST=srv-mysql
DB_MYSQL_PORT=3306
DB_MYSQL_USER=npm
DB_MYSQL_PASSWORD=SENHA_DO_BANCO
DB_MYSQL_NAME=NOME_DO_BANCO

# Volumes
VOL_DATA=/bskp/srv-nginx/data:/data
VOL_LETSENCRYPT=/bskp/srv-nginx/letsencrypt:/etc/letsencrypt

# Subrede da network
SUBNET=172.18.0.0/16