# ────────────────────────────────────────────────────────────
#                     Home Assistant OS
#            Arquivo: .env.example
#
# Modelo de configuração para o container Home Assistant OS.
# Ajuste os valores das variáveis de acordo
# com a necessidade do seu ambiente.
# ────────────────────────────────────────────────────────────

# Container name
HAOS_CONTAINER=ctr-haos

# IP
IPV4_HA=172.18.0.50

# Volumes
VOL_CONFIG=/bskp/ctr-ha/config:/config
VOL_TZ=/etc/timezone:/etc/timezone:ro
VOL_LOCALTIME=/etc/localtime:/etc/localtime:ro

# Network
SUBNET=172.18.0.0/16
