# ─────────────────────────────────────────────
#                     MySQL
#            Arquivo: .env.example
#
# Modelo de configuração para o container MySQL.
# Ajuste os valores das variáveis de acordo
# com a necessidade do seu ambiente.
# ─────────────────────────────────────────────

# ----------------------
#  Container & Imagem
# ----------------------
CONTAINER_NAME=ctr-mysql
RELEASE=mysql:8.3

# ----------------------
#  Rede
# ----------------------
IPV4_ADDRESS=172.18.0.2
SUBNET=172.18.0.0/16

# ----------------------
#  Database
# ----------------------
MYSQL_DATABASE=NOME_DO_BANCO
MYSQL_USER=NOME_DO_USUARIO
MYSQL_PASSWORD=PASSWORD_DO_USUARIO
MYSQL_ROOT_PASSWORD=PASSWORD_DO_ROOT


# ----------------------
#  Volumes
# ----------------------
VOL_DATABASES_PATH=./databases:/var/lib/mysql
VOL_MYSQL_INIT=./mysql-init:/docker-entrypoint-initdb.d
VOL_TIMEZONE=/etc/timezone:/etc/timezone:ro
VOL_LOCALTIME=/etc/localtime:/etc/localtime:ro

# ----------------------
#  Portas
# ----------------------
PORTS_MYSQL=3306:3306