services:
  srv-mysql:
    image: ${RELEASE}
    container_name: ${CONTAINER_NAME}
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    command: --character-set-server=utf8 --collation-server=utf8_bin
    volumes:
      - ${VOL_DATABASES_PATH}
      - ${VOL_MYSQL_INIT}
    networks:
      network-share:
        ipv4_address: ${IPV4_ADDRESS}  # IP fixo para o srv-mysql
    ports:
      - ${PORTS_MYSQL}
    restart: unless-stopped

networks:
  network-share:
    external: true
    ipam:
      config:
        - subnet: ${SUBNET}  # Faixa de IPs para a rede
