services:
  zbx-server:
    build:
      context: .
      dockerfile: Dockerfile
    image: ${RELEASE}
    container_name: ${SRV_NAME}
    volumes:
      - ${VOL_SCRIPTS}
      - ${VOL_CRON}
      - ${VOL_DOCKER_SOCK}
      - ${VOL_LOCALTIME}
      - ${VOL_TIMEZONE}
    networks:
      network-share:
        ipv4_address: ${IPV4_ZBX_SERVER_HOST}
    restart: unless-stopped
    entrypoint: ["/usr/local/bin/scripts/entrypoint.sh"]
networks:
  network-share:
    external: true
    ipam:
      config:
        - subnet: ${SUBNET}