services:
  debian-tools:
    container_name: ${SRV_NAME}
    image: ${RELEASE}
    restart: ${RESTART_POLICY}
    tty: true
    stdin_open: true
    volumes:
      - ${VOL_SCRIPTS}
      - ${VOL_CRON}
      - ${VOL_LOCALTIME}
      - ${VOL_TIMEZONE}
    networks:
      network-share:
        ipv4_address: ${CONTAINER_IP}
